<!DOCTYPE html>
<html>
<head>
    <title><%= ticker %> Stock Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h1><%= ticker %> Stock Prices;</h1>
<canvas id="chart"></canvas>
<script>
    var ctx = document.getElementById('chart').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: [<%= dates %>],
            datasets: [{
                label: '<%= ticker %> Stock Prices',
                data: [<%= prices %>],
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Stock Price Chart'
                }
            }
        },
    });
</script>
</body>
</html>

